header {
    padding: 15px;
    background: darken(#333, 3%);
  
    h1,
  
    .flexbox {
      display: flex;
      height: 50px;
  
      & > * { margin: auto }
    }
}

nav, .meta {
    display: inline-block;

    ul {
      padding: 0;
      margin: 0;
      white-space: nowrap;
      display: inline-block;
    }
  
    li { 
      display: inline-block; 
      a {
          text-decoration: none;
          color: whitesmoke;
          background-color: grey;
          border-radius: 5px;
          padding: 0.2em;
          &:hover {
            text-decoration: none;
            box-shadow: inset 0 0 3px white; 
        }
      }
    }
}